<h1>==THE ANSWER===..===..=== ** MUHAHAH</h1>

<h2><%= @query %></h2>
<p>-------you</p>


<h2> <%=@answer %></h2>
<p> ---the conputer </p>

<p>
<%= link_to "tell something else", coaching_ask_path %>
</p>

